#app{
    min-height: 85vh;
    position: relative;
}

#navbar-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#search-bar-div {
    display: inline-flex;
    margin: 1.5rem;
    gap: 1rem;
}

#hotels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem 2rem;
}

.hotel-card {
    display: inline-block;
}


#hotel-schedule-div {
    margin: 1.3rem 0;
}

#hotel-amenities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: .5rem 0 1rem 0;
}


#wrapper-guest-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

#hotel__booking-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem .8rem;
    gap: 1rem;
}

.hotel__booking-field-input {
    flex: none;
    width: fit-content;
    margin: 0 2.5rem;
}

#auth-card {
    margin: 4.5rem auto auto;
    width: 30%;

}

#auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


#profile-container {
    margin: 1rem 1.5rem;
}

#hotel-container{
    margin: 2.5rem 8rem;
}

#guest-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: inherit;
    align-items: flex-start;
}

.flex-div-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

#lab-user-first-name, #lab-check-in{
    margin-right: 5rem;
}



.div-input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .8rem;
}

.label-input {
    display: flex;
    flex-direction: column;
    width: 22rem;
}

.label-date{
    display: flex;
    flex-direction: column;
    width: 8rem;
}

.input-field {
    height: 1.5rem;
    width: inherit;
}



#profile-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem;
    width: 52%;
    min-height: 40%;
}

#save-profile {
    width: fit-content;
}

#hotel-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hotel-item {
    flex: 2;
    display: flex;
    margin: 1rem 1.5rem;
    width: 30%;
    min-width: fit-content;
    max-width: 33%;
    gap: 1.5rem;
    justify-content: space-between;
}

.hotel-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.hotel-links-wrapper {
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.hotel-title, .hotel-location {
    margin: .3rem 0;
    grid-row: auto;
    grid-column: 1;
}

.hotel-action-link {
    width: 5rem;
    height: 2.5rem;
}

#admin-hotel-page{
    margin: 3rem 4.5rem;
}

#tab-container{
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
}

#edit-hotel-form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.btn-stl1{
    width: fit-content;
}

.admin-room-title{
    margin: 1.2rem 0;
}

.old-rooms-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
}

#description{
    min-height: 4rem;
}


#register-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: none;
}

#register-form {
    width: 34rem;
    background-color: #fff;
    border: 3px solid var(--tertiary-color);
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.10);
    margin: 2rem auto;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
    z-index: 1;
}

#register-title {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.rooms-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    min-height: 6.5rem;
}

.room-div, .new-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: .2rem;
    margin: 0.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 0.7rem;
    padding: 0.7rem .4rem;
    background: var(--quaternary-color);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.07);
    width: fit-content;
    min-width: fit-content;
    max-width: fit-content;

}


.amenity-group {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    gap: .5rem;
    margin-top: 0.5rem;
    width: fit-content;
}

#auth-title {
    text-align: center;
    font-size: 2rem;
    margin: 1.3rem 0;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 1px;
}


#wrapper-form{
    margin: 2.5rem 0 0 3.5rem;

}

#update-hotel-main{
    border: solid 3px var(--primary-color);
    padding: .3rem;
    width: 80rem;
}

#contact{
    position: fixed;
}

#toast-div{
    position: absolute;
    top: 85%;
    left: 1%;
    max-width: 21.5rem;
}

.accommodation-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

