* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: var(--quaternary-color);
}

.hotel-header{
    display: block;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 25px;
    box-shadow: #43464a 2px 2px 10px;
    padding: 10px 15px;
    margin: 15px 20px;
    width: fit-content;
}

.hotel-information-container{
    display: flex;
    margin: 10px 20px;
}

.hotel-details{
    flex: 3;
    margin: 20px 10px;
    padding: 15px;
    background: var(--secondary-color);
    border-radius: 30px;
    border: solid 1px var(--tertiary-color);

}

.hotel-amenities{
    background-color: var(--secondary-color);
    border: solid 1px var(--tertiary-color);
    text-align: center;
    border-radius: 30px;
    margin: 20px 10px 20px 0;
    flex: 1;
    height: fit-content;
}



.hotel-amenities-item-title{
    font-weight: bold;
    text-decoration: underline;
    padding: 7px;
    margin: 5px;

}

.hotel-amenities-item{
    list-style: none;
    margin: 5px;
}

#hotel-description, #hotel-location, #hotel-schedule-day-use, #hotel-schedule-checking-checkout{
    padding: 7px;
}

.hotel-details-tittle{
    font-weight: bold;
    padding: 9px;
}

/*Booking section*/

.booking-section{
    margin: 1.4rem;

}

/* Calendars checkIn and checkOut */

.hotel__booking-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem .8rem;
    padding: .8rem;
}

.hotel__booking-field-input{
    flex: none;
    width: fit-content;
    margin: 0 2.5rem;
}

.hotel__booking-field-date{
    background-color: var(--secondary-color);
}

/**/

.guest-info-section{
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.guest-info-section__input{
    padding: 0 10px;
    flex: fit-content;
    flex-wrap: wrap;
}

#hotel__booking-rooms-table{
    margin: 20px;
    flex: 2;
}

.hotel__booking-rooms-header, .hotel__booking-room-numbers, .hotel__booking-room-price{
    width: 25rem;
    height: 2rem;
    border-bottom: black solid 2px;
    border-right: black solid 2px;
}

#hotel__booking-field-button{
    color: white;
    background-color: var(--primary-color);
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    height: fit-content;

}

/* Guest inputs */

#first-name, #last-name, #guest-email, #guest-phone{
    width: 100%;
}

/* Validation spans */

.error-input{
    color: rgba(255, 0, 0, 0.65);
    font-style: italic;
    text-align: center;
    font-size: small;
    height: 1rem;
}

/*Go back button*/

#go-back{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 15px;
    box-shadow: #43464a 2px 2px 10px;
    margin: 10px 20px;
    display: inline-block;
}


:root{
    --primary-color: rgb(94, 80, 63);
    --secondary-color: rgb(198, 172, 143);
    --tertiary-color: rgb(34, 51, 59);
    --quaternary-color: rgb(234, 224, 213);
    --quinary-color: rgb(20, 68, 20);
    --senary-color: rgb(10, 9, 8);
}
