#auth-card {
    width: 19rem;
    background-color: #fff;
    border: 3px solid var(--tertiary-color);
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.10);
    padding: 2.5rem 2rem 2rem 2rem;
}

/* Hotels */
.hotel-card{
    margin: 1rem 1.5rem;
    border: 3px solid var(--tertiary-color);
    border-radius: var(--border-radius-base);
    background-color: var(--white-color);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.30);
}

.hotel-link {
    text-decoration: none;
    color: inherit;
    display: block;
    max-width: 15rem;
    max-height: fit-content;
}

.hotel-image {
    height: 11.25rem;
    width: 15rem;
    object-fit: cover;
}

.hotel-location{
    padding: .3rem;
    overflow-wrap: break-word;
}

.hotel-title {
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 300;
    padding: .3rem;
    overflow-wrap: break-word;
}

/* Profile card */
#profile-card {
    background: #fff;
    padding: 22px;
    box-shadow: 0 6px 18px rgba(10, 9, 8, 0.06);
    border: 1px solid rgba(94, 80, 63, 0.06);
    border-radius: 12px;
}

.div-input{

}


/*  */
.hotel-item {
    border: 2px black solid;
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--white-color);
}

.hotel-title, .hotel-location {
    font-size: 1rem;
}
